html{
  font-family: Helvetica;
}

a{
  color: white;
  font-size: 18px;
}

.header, #newyork {
  text-align: center;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

.process, .company{
  text-align: center;
}

h1{
  font-weight: bold;
  font-size: 70px;
}
h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
.footer{
  text-align: left;
}
